<div class="card">
    <a href="pages/product_page.html">
        <div class="card_img">
            <img src="image/goods/Rectangle 356 (2).png" alt="" class="image_good">
        </div>
        <p class="card_title">Смартфон Samsung Galaxy
            A52 White 128Gb</p>
        <div class="card_price">
            <p class="price">3 619 000</p>
            <span class="data_price">От 418 000 / 12</span>
        </div>
    </a>
    <div class="card_button">
        <a class="btn_card" href=""><img src="image/icons/cage.svg" alt=""> <span class="btn_text">В
                  корзину</span> </a>

        <a href="" class="link_fav">
            <svg width="28" height="24" viewBox="0 0 28 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                        d="M8.375 1C4.57813 1 1.5 4.07813 1.5 7.875C1.5 14.75 9.625 21 14 22.4538C18.375 21 26.5 14.75 26.5 7.875C26.5 4.07813 23.4219 1 19.625 1C17.3 1 15.2438 2.15438 14 3.92125C13.3661 3.01825 12.5239 2.28131 11.5447 1.77281C10.5656 1.2643 9.47831 0.999222 8.375 1Z"
                        stroke="#0F2859" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </a>
    </div>
</div>