{% load static %}
{% load digitalstore_tags %}
{% get_categories as categories %}

<nav>
    <div class="nav_menu_icon container">
        <div class="nav__top">
            <a href="{% url 'main' %}" class="logo">
                <img src="{% static 'digitalstore/image/logo/logo store 2.svg' %}" alt="">
            </a>
            <form action="" method="get" enctype="multipart/form-data">
                <label for="s" class="label_search">
                    <input id="s" type="text" placeholder="Поиск по товарам" class="serch_in">
                    <button type="submit"><img class="icon_serch" src="{% static 'digitalstore/image/icons/Vector.svg' %}" alt=""></button>
                </label>
            </form>
            <div class="nav_icon">
                <ul class="icon">
                    <li><a href="{% url 'favorite' %}" class="click_icon" style="{% if 'favorites' in request.path %}fill=dark{% endif %}"><img src="{% static 'digitalstore/image/icon_header/Group 524.svg' %}" alt=""></a></li>
                    <li><a href="{% url 'my_cart' %}" class="click_icon"><img src="{% static 'digitalstore/image/icon_header/bi_cart3 (1).svg' %}" alt=""></a>
                    </li>
                    <li><a href="#" class="click_icon"><img src="{% static 'digitalstore/image/icon_header/Group 522 (1).svg' %}" alt=""></a>
                    </li>
                    <li class="dropdown">
                        <a href="" class="category_burger"><img src="{% static 'digitalstore/image/icons/burger.svg' %}" alt="">
                        </a>
                        <div class="dropdown-content">
                            <ul class="list_burger">
                                {% for category in categories %}
                                <li class="burger_list"><a href="{{ category.get_absolute_url }}"><img src="{{ category.get_icon }}" alt="">
                                    <span class="burger_text">{{ category.title }}</span></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>

        </div>


    </div>

</nav>