{% load static %}

<div class="nav__header">
        <div class="container">
            <div class="nav_info">
                <div class="nav_left">


                </div>
                <div class="nav_right" style="">
                    {% if not request.user.is_authenticated %}
                    <a href="{% url 'login' %}">Вход</a>
                    <a href="{% url 'registration' %}">Регистрация</a>
                    {% else %}
                    <a href="{% url 'logout' %}">Выход</a>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
