{% load static %}
{% load digitalstore_tags %}


    <div class="container">
        <div class="list_filter">
            <form action="" method="post" enctype="multipart/form-data">
                <div class="list_label">
                    <div class="brand">
                        <button class="cat_name" type="button"><span>Бренд</span> <img
                                src="{% static 'digitalstore//image/icons/errow_down.svg' %}"
                                alt=""></button>
                        <ul class="list_cat">
                            {% for brand in brands %}
                            <li><a class="category" href="?{% query_params brand=brand.title page=1 %}">{{ brand.title }}</a></li>
                            {% endfor %}

                        </ul>

                    </div>


                    <div class="brand brand1">
                        <button class="cat_name" type="button"><span>Цвет</span> <img
                                src="{% static 'digitalstore//image/icons/errow_down.svg' %}"
                                alt=""></button>
                        <ul class="list_cat">

                            {% for color in colors %}
                            <li><a class="category" href="?{% query_params color=color page=1 %}">{{ color }}</a></li>
                            {% endfor %}

                        </ul>
                    </div>


                    <div class="brand brand2">
                        <button class="cat_name" type="button"><span>Скидка</span> <img
                                src="{% static 'digitalstore//image/icons/errow_down.svg' %}"
                                alt=""></button>
                        <ul class="list_cat">
                            {% for discount in discounts %}
                            <li><a class="category" href="?{% query_params discount=discount page=1 %}">{{ discount }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>


                    <div class="brand brand3">
                        <button class="cat_name" type="button"><span>Цена</span> <img
                                src="{% static 'digitalstore//image/icons/errow_down.svg' %}"
                                alt=""></button>
                        <ul class="list_cat">
                            {% for price in prices %}
                            <li><a class="category" href="?{% query_params price=price page=1 %}">{{ price }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>


                </div>
            </form>
        </div>
    </div>
