{% load static %}
{% load digitalstore_tags %}
{% get_same_products product.category product.model as items %}

        <div class="detail_product">
            <div class="product_img">
                <img class="product_img-img" src="{{ product.image.url }}" alt="">
            </div>
            <div class="product_info">
                <h2 class="title__product">{{ product.title }}</h2>
                <div class="price_color">
                    <div class="price_product">
                        <p>Цена:</p>
                        {% if product.discount %}
                        <h3 class="old_price">${% get_correct product.price %}</h3>
                        {% endif %}
                        <h3>${% get_correct product.get_price %}</h3>
                    </div>
                    <div class="color_product">
                        <p>Цвет:</p>

                        <div class="box_color">
                            {% for item in items %}
                            <a href="{{ item.get_absolute_url }}" class="color_squer"
                               style="background: {{ item.color_code }}"></a>
                            {% endfor %}
                        </div>

                    </div>
                </div>
                <div class="list_button">
                    <a href="#" class="btn btn_cage1">
                        <img src="{% static 'digitalstore/image/icons/cage.svg' %}" alt="">
                        <span>В корзину</span>
                    </a>
                </div>
            </div>
        </div>



