{% extends 'base.html' %}

{% block swiper %}
{% endblock swiper %}


{% block main %}

<main>
    <div class="content">
        <div class="container">
            {% if products %}
            <h2 class="content__title">{{ title }}</h2>
            <div class="content__cards">

                {% for product in products %}
                {% include 'digitalstore/components/_card.html' %}
                {% endfor %}
            </div>
            {% else %}
            <h3 class="not_found" style="
    text-align: center;
    color: #999999;
    font-size: 40px;

">Увас нет избранных товаров</h3>
            {% endif %}


        </div>
    </div>
</main>

{% endblock main %}